*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: white;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 10px 20px;
    
}
.left{
   
    color: white;
    
}
.left img{
    width: 150px;
    height: 90px;
}
.mid{
   top: 5px;
    color: white;
    font-size: 21px;
}
.right{
  
    color: white;
    
}
.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navbar li{
    display: inline-block;
    margin: 0 15px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar a:hover,.navbar a.active{
    color: orange;
    text-decoration: underline;
}

.form-group input{
    width: 185px;
    height: 35px;
    text-align: center;
    border-radius: 6px;
}
.form-group{
    text-align: center;
    padding: 5px;
    
}
.container button{
    display: block;
    width: 23%;
    margin: auto;
}
.container{
   border: 3px solid gray;
   padding: 10px;
   margin: 23px 36px;
   width: 400px;
   height: 300px;
   color: black;
}
